@model PetsLostAndFound.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Microchipped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Microchipped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RFID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RFID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastSeen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastSeen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
